$primary-color: #aec670;
$gray: #717070;
$yellow: #e7c265;
$container-width: 1400px;

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: space-center;
  align-items: center;
}
