@import "../../styles/variables.scss";

.card {
  margin: 0.75rem;
  padding: 1rem;
  border-radius: 10px;
  background: #fff;
  color: #333;

  .cardImage {
    position: relative;
    display: block;
    // height: 250px;
    aspect-ratio: 64/51;
    img {
      max-width: 100%;
      aspect-ratio: 64/51;
      object-fit: contain;
    }
  }

  .cardBody {
    max-width: 400px;
    margin: auto;
    padding: 0 0.5rem;

    .productTitle {
      margin: 1rem 0;
      height: 30px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-decoration: underline;
      white-space: nowrap;
    }
    h3 {
      font-size: 2.5rem;
      color: $gray;
      transition: color 0.3s ease-in-out;
      margin-bottom: 1rem;

      &:hover {
        color: $yellow;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .card {
    max-width: 350px;
  }
}

@media screen and (max-width: 360px) {
  .card {
    margin: 0;
    max-width: 300px;

    .cardBody {
      h3 {
        font-size: 2rem;
      }
    }
  }
}

@media screen and (max-width: 300px) {
  .card {
    max-width: 260px;
  }
}
