@import "../../variables.scss";

.imagesContainer {
  .image {
    position: relative;
    height: 510px;
    // aspect-ratio: 64/51;

    .mainImage {
      max-width: 640px;
      max-height: 510px;
      object-fit: contain;
      margin: auto;
    }
  }

  .subImagesContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    justify-content: center;

    .thumbnailActive {
      border: 2px solid $primary;
    }

    .thumbnail {
      object-fit: contain;
      margin: 0 5px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
